.grid-container {
  display: grid;
  grid-template-columns: 8% 28% 28% 28% 8%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr);
  gap: 0px 0px;
  grid-template-areas:
    ". IntroText IntroText IntroText ."
    ". SemanticField SemanticFieldSubWords SemanticFieldSubWords SemanticFieldSubWords"
    ". MapDescription MapDescription MapDescription ."
    ". Map Map Map ."
    ". Map Map Map ."
    ". Map Map Map ."
    ". Table Table Table .";
}

.Map {
  grid-area: Map;
  border: 1px solid black;
}

.SearchboxDesc { grid-area: SearchboxDesc; }

.IntroText { grid-area: IntroText; }

.SemanticField { grid-area: SemanticField; }

.SemanticFieldSubWords { grid-area: SemanticFieldSubWords; }

.MapDescription { grid-area: MapDescription; }


.Table {
  grid-area: Table;
  /* overflow-y: auto;
  max-height: 200px; */
}

body {
  font-family: 'IBM Plex Serif', serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.barText {
  font-family: Arial;
}


.ui-autocomplete {
    opacity: .5;
    max-height: 200px;
    max-width: 500px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;

}

#custom-handle {
  width: 80;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
  font-size: 10pt;

}

#slider {

  display: inline-block;
  height: 20px;
  margin-left: 20px;
  margin-right: 80px;
  width: 40%
  /* width: 200px; */
}

.allYearsCheckbox {
  display: inline-block;
  min-width: fit-content;
}

.borrowedTable {
  max-height: 300px;
  overflow-y: scroll;
}

table {
  /* font-family: Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  width: 100%;
}

table td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2f4b7c;
  border: 1px solid #ddd;
  color: white;
}

tbody{
  overflow:auto;
  max-height:200px;
  width:100%;
}
